.menu{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}
.icon-left{
    float:left;
}
.head{
    text-align: center;
    font-family: "Times New Roman";
    line-height: 1;
    padding: 2rem;
}
.h1{
    font-weight: bold;
}